@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

h1 {
    margin: 0;
}

header {
    background-color: #181818;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo {
    margin: 6px 0;
    display: inline-block;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul {
    list-style: none;
}

header nav ul a {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.3s;
}

header nav ul a:hover {
    color: #e39b47;
    font-weight: bolder;
    transition: 0.3s;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    padding: 9px 20px;
    display: inline-block;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 14px;
    color: #000000;
    transition: 0.3s;
}

header nav ul li:last-of-type a:hover {
    padding: 9px 20px;
    display: inline-block;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 14px;
    color: #000000;
    transition: 0.3s;
}

header nav ul li:last-of-type a:hover {
    color: #e39b47;;
    transition: 0.3s;
}

.main_banner {
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    height: 82.8vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;

}

.main_banner h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
}

.main_banner p {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 580px;
    margin: auto;
}

.main_banner .container {
    margin: inherit;
}

.main_banner ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;

}

.main_banner li {
    font-family: "Poppins";
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-left: 16px;
}

.list_item li {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-left: 16px;
}

.list_item li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}

.list_item li:nth-child(2):before {
    background-image: url("../images/photo.svg");
}

.list_item li:nth-child(3):before {
    background-image: url("../images/cirkle.svg");
    margin-right: 7px;
    width: 32px;
}

.list_item li:last-of-type:before {
    background-image: url("../images/iso.svg");
    margin-right: 5px;
    width: 10px;
}

.what_we_do {
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}

.what_we_do h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.what_we_do p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.what_we_do .item {
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .container {
    max-width: 1168px;
}

.what_we_do .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.5s;
}

.description a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.5s;
}

.description a:hover {
    background: #000;
    color: #FFFFFF;
    transition: 0.5s;
}

.description a:hover:before {
    background: #FFFFFF;
    transition: 0.5s;
}

.for_h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

}


.for_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}

.fuji {
    background-image: url("../images/fuji.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}

.fuji .container {
    max-width: 1315px;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.fuji .container div:first-of-type {
    max-width: 298px;


}

.fuji ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.monstera_leafs {
    background-image: url("../images/monstera_leafs.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}

.monstera_leafs .container {
    max-width: 1290px;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.monstera_leafs .container div:first-of-type {
    max-width: 273px;
}

.monstera_leafs ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.past_clients {
    background-color: black;
    padding: 120px 0 140px 0;
}

.past_clients h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past_clients p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.past_clients .container div:first-of-type {
    padding: 0 62px;
}

.himalayas {
    background-image: url("../images/star_fall_himalayas.jpg");
    background-size: cover;
    height: 85vh;
    position: relative;
}

.himalayas .container {
    max-width: 1258px;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.himalayas .container div:first-of-type {
    max-width: 254px;
}

.himalayas ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.need_help {
    background-color: black;
    padding: 113px 0 108px;

}

.margin_auto {
    margin: auto;
}

.need_help h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 571px;
    margin-bottom: 15px;
}

.need_help p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.need_help a {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    display: inline-flex;
    transition: .5s;
}

.need_help a::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    margin-right: 6px;
    border-radius: 13px;
    transition: .5s;
}

.need_help a:hover {
    background-color: black;
    color: #FFFFFF;
    transition: .5s;
}

.need_help a:hover::before {
    content: '';
    background-color: #FFFFFF;
    transition: 0.5s;
}

footer {
    background-color: black;
    padding: 100px 0;
    color: white;
}

footer .container {
    max-width: 1168px;
}

footer .d-flex {
    align-items: normal;
}

.footer_menu {
    padding: 100px 0 36px;
}

.footer_box_logo img{
    margin-bottom: 20px;
    display: block;
}

.footer_box_logo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.footer_menu_ul {
    margin-right: 55px;
}

.footer_menu_ul2 {
    margin-right: 102px;
}

.footer_menu_ul li, .footer_menu_ul2 li {
    margin-bottom: 10px;
}

.footer_menu_ul li:last-of-type, footer .footer_menu_ul2 li:last-of-type {
    margin-bottom: 0;
}

.footer_menu_ul a, .footer_menu_ul2 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.3s;
}

.footer_menu_ul a:hover, .footer_menu_ul2 a:hover {
    color: #e39b47;
    transition: 0.3s;
}

.footer_menu_ul li:first-of-type a, .footer_menu_ul2 li:first-of-type a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    transition: 0.3s;
}

.footer_menu_ul li:first-of-type a:hover, .footer_menu_ul2 li:first-of-type a:hover {
    color: #e39b47;
    transition: 0.3s;
}

.subscribe {
    padding: 36px 0;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.subscribe_box h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe_box{
    max-width: 280px;
}

.subscribe_box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.subscribe form{
    flex-basis: 458px;
}
.search_subscribe{
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 7px 6px 7px 7px;
}

.subscribe_input {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color:#F9FAFB;
    margin-right: 6px;
}
.search_button {
    background: #000000;
    border-radius: 11px;
    width: 63px;
    height: 30px;
    transition: 0.5s;
}
.search_button:hover{
    background-color: #16389f;
    transition: 0.3s;
}
.subscribe form button:active{
    border: 2px solid #000000;
    background-color: darkgoldenrod;
    transition: 0.3s;
}
.footer_last_box{
    padding: 56px 0 100px ;
}

.footer_last_box ul li {
    margin-left: 20px;
}
.social_media a{
    margin-left: 20px;
}

